.screen {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: black;
    transition: 1s;
    padding: 10px 10px 35px 10px;
    border-radius: 10px;
    left: 20vw;
    top: 20vh;
}

.perspective {
    transform: perspective(40cm) rotateX(60deg);
    box-shadow: -1px 10px 0px 0px rgba(0, 0, 0, 0.5), -1px 17px 7px -2px rgba(0, 0, 0, 0.63);
    -webkit-box-shadow: -1px 17px 7px -2px rgba(0, 0, 0, 0.63), -1px 10px 0px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -1px 17px 7px -2px rgba(0, 0, 0, 0.63), -1px 10px 0px 0px rgba(0, 0, 0, 0.5);
}

.img {
    width: 100%;
    height: 100%;
    background-color: rgb(28, 28, 28);
    transition: 1s;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: 30% 30% 30%;
    grid-template-columns: 30% 30% 30%;
    row-gap: 5px;
    column-gap: 5px;
}


.tooltip {
    position: absolute;
    background-color: #010101;
  }
.grid {
    border: none;
    transition: 2s;
    border-radius: 3px;
}

.screenOn {
    border: 1px solid rgb(0, 195, 255);
    cursor: pointer;
}

.screenOn:hover {
    background-color: rgb(0, 195, 255);
}

.button {
    position: absolute;
    bottom: 5px;
    left: 150px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    border: 2px solid rgb(19, 19, 19);
    cursor: pointer;
}

.button:focus {
    border: 1px solid rgb(96, 96, 96);
    box-shadow: 0px 0px 1px white;
}